<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Index</title>
</head>
<body>
<div>
    <main layout:fragment="content">
        <div th:fragment="before" class="block" id="target-before">
            <button th:hx-get="@{/ajax/indicator/to-after}"
                    hx-trigger="click" hx-target="#target-before" hx-swap="outerHTML"
                    hx-indicator=".htmx-indicator" hx-disabled-elt="this"
                    class="button is-info">
                ロード
                <span class="htmx-indicator loader"></span>
            </button>
        </div>
        <div class="box">
            <progress id="indicator" class="htmx-indicator progress is-large is-dark" max="100">45%</progress>
        </div>
    </main>

    <div th:fragment="after" id="target-after" class="block">
        <button th:hx-get="@{/ajax/indicator/to-before}"
                hx-trigger="click" hx-target="#target-after" hx-swap="outerHTML"
                hx-indicator=".htmx-indicator" hx-disabled-elt="this"
                class="button is-info">
            元に戻す
            <div class="htmx-indicator loader"></div>
        </button>
    </div>
</div>
</body>
</html>